<!DOCTYPE html>
<html>
    <head>
        <title>Bievenue sur la page de Restautix, l'application pour gérer vos repas entre collègues :-)</title>
    </head>
    <body>
        <h1>Hello {{ nom }} !</h1>
        
        <p>
            Vous êtes sur la page {{ page }}.
            Ce site vous permettra d'organiser des repas en quelques clics.
        </p>
    </body>
</html>