<!DOCTYPE html>
<html>
    <head>
        <title>Bievenue sur la page de Restautix, l'application pour gérer vos repas entre collègues :-)</title>
    </head>
    <body>
        <h1>Evenement {{ event }} !</h1>
        
        <p>
            Numéro de l'événement {{ idEvent }}.
        </p>
    </body>
</html>